@model IEnumerable<SIGEBI.Domain.Entities.Configuration.Cliente>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Nombre
            </th>
            <th>
                Apellido
            </th>
            <th>
                Cedula
            </th>
            <th>
                Edad
            </th>
            <th>
                Genero
            </th>
            <th>
                Email
            </th>
            <th>
                Nacimiento
            </th>
            <th>
                RolId
            </th>
            <th>
                TotalDevoluciones
            </th>
            <th>
                CapacidadPrest
            </th>
            <th>
                TotalDevolRestrasadas
            </th>
            <th>
                TotalPrestamos
            </th>
            <th>
                PrestamosActivos
            </th>
            <th>
                StatusCliente
            </th>
            <th>
                IdLgOpCliente
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cedula)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Edad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nacimiento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RolId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalDevoluciones)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CapacidadPrest)
            </td>   
            <td>
                @Html.DisplayFor(modelItem => item.TotalDevolRestrasadas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalPrestamos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrestamosActivos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StatusCliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdLgOpCliente)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
