@model IEnumerable<SIGEBI.Persistence.Models.Configuration.Credenciales.CredencialesGetModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                ClienteId
            </th>
            <th>
                Usuario
            </th>
            <th>
                PasswordHash
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @item.ClienteId
            </td>
            <td>
                @item.Usuario
            </td>
            <td>
                @item.PasswordHash
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ClienteId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ClienteId">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
