@model IEnumerable<SIGEBI.Application.Dtos.Configuration.BibliotecariosDtos.BibliotecarioDto>

@{
    ViewData["Title"] = "Index";
}

<h1>Bibliotecarios</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Nombre
            </th>
            <th>
                Apellido
            </th>
            <th>
                Cedula
            </th>
            <th>
                Edad
            </th>
            <th>
                Genero
            </th>
            <th>
                Email
            </th>
            <th>
                Nacimiento
            </th>
            <th>
                RolId
            </th>
            <th>
                TotalDevoluciones
            </th>
            <th>
                TotalHorasTrabajadas
            </th>
            <th>
                TotalClientesAtendidos
            </th>
            <th>
                TotalPrestamos
            </th>
            <th>
                BiblioEstatus
            </th>
            <th>
                IdLgOpBiblio
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Apellido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cedula)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Edad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Genero)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nacimiento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RolId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalDevoluciones)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalHorasTrabajadas)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalClientesAtendidos)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalPrestamos)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BiblioEstatus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdLgOpBiblio)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>